:root {
  --primary-color: #242424;
  --text-color: #242424;
  --white: #ffffff;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--white);
  text-align: left;
  margin: 0;
}

header {
  padding: 1em;
  background: var(--primary-color);
  color: var(--white);
}

a {
  color: var(--primary-color);
}

footer {
  padding: 0.8em;
  font-size: 1em;
  border-top: 1px solid var(--primary-color);
  text-align: left;
}

h1 {
  margin: 0;
}

.container {
  display: block;
  padding: 1em;
  margin: auto;
  max-width: 600px;
  min-height: 40vh;
}

.row,
.column {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4px;
}

.source-container,
.target-container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.form {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

input,
select {
  padding: 8px;
  margin: 0 8px;
  font-weight: 800;
  width: 400px;
  align-self: flex-end;
}

button {
  padding: 8px;
  font-weight: 800;
 }

progress {
  height: 4px;
  width: 100%;
  display: none;
}

.suggesions {
  text-align: left;
}

.result {
    margin-top: 2em;
}