:root {
  --primary-color-h: 200;
  --primary-color-s: 32%;
  --primary-color-l: 22%;
  --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --primary-color--light: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + var(--lighten)));
  --primary-color--dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + var(--darken)));
  --secondary-color: hsl(calc(var(--primary-color-h) + 180), var(--primary-color-s), var( --primary-color-l));
  --lighten: 15%;
  --darken: -15%;
  --text-color: var(--primary-color);
  --white: #ffffff;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--white);
  text-align: left;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.header {
  padding: 1em;
  background: var(--primary-color);
  color: var(--white);
}

.main {
  padding: 1em;
  margin: auto;
  max-width: 600px;
  min-height: 40vh;
}

.footer {
  padding: 0.8em;
  font-size: 1em;
  border-top: 1px solid var(--primary-color);
  text-align: left;
}

a {
  color: var(--primary-color);
}


h1 {
  margin: 0;
}

.form {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
}

input,
select {
  padding: 8px;
  margin: 8px;
  font-weight: 800;
  width: 400px;
  align-self: flex-end;
  border-color:  var(--primary-color);
}

button {
  padding: 8px;
  font-weight: 800;
  color: var(--primary-color);
}

progress {
  height: 4px;
  width: 100%;
  display: none;
}

.suggesions {
  text-align: left;
}

.result {
  margin-top: 2em;
}
